html,
body {
    background: url('./images/image.PNG') center center no-repeat;
    height: 100%;
    min-height: 100%;
    h1 {
        color: #0f4699;
    }
    p{
        color: #0f9926;
    }
}